@model WebCityEvents.ViewModels.PlaceViewModel

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4>Место</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlaceID" />
            <div class="form-group">
                <label asp-for="PlaceName" class="control-label">Название места</label>
                <input asp-for="PlaceName" class="form-control" />
                <span asp-validation-for="PlaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geolocation" class="control-label">Геолокация</label>
                <input asp-for="Geolocation" class="form-control" />
                <span asp-validation-for="Geolocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}